header
  nav.navbar.navbar-expand-sm.bg-light.navbar-light
    ul.navbar-nav(style="list-style:none; display: flex; gap: 1rem;")
      li.nav-item
        a.nav-link(href='/') Cashback Tracker
      li.nav-item
        a.nav-link(href='login') Login
      li.nav-item
        a.nav-link(href='/register') Register            

