doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/bootstrap.css")
    block styles
  body
    include ../partials/header
     
    main.container
      block content
 
    script(src="/js/bootstrap.bundle.min.js")

    block scripts
