extends ./layouts/main 

//- TEMPORARY DASHBOARD CONTENT

block content
  .container.mt-5
  
    if success_msg.length > 0
      .alert.alert-success= success_msg

    .row
        .col
            p Placeholder button group
        .col
            p Placeholder + Add new offer button
    
    .row
        .col
            p placeholder card cashback received, 0.44, x offers completed 
        .col
            p Pending cashback, price, x offers pending  
        .col
            p available offers, 3.99, x offers available
        .col 
            p total percentage cashback received, 5.65, xx percent, 3/4 offers completed