extends ./layouts/main 

block content
  .container.mt-5
  
    if success_msg.length > 0
      .alert.alert-success= success_msg
            
    
    .row.g-2
        h1 Statistics
        .col-md-3
            .card
                .card-body 
                    h3.card-title Cashback received
                    h4.card-subtitle.mb-2.text-body-secondary EUR 0.99
                    p.card-text 2 offers completed 
        .col-md-3
            .card
                .card-body 
                    h3.card-title Cashback pending
                    h4.card-subtitle.mb-2.text-body-secondary EUR 14.99
                    p.card-text 4 offers pending 
        .col-md-3
            .card
                .card-body 
                    h3.card-title Available offers
                    h4.card-subtitle.mb-2.text-body-secondary EUR 13.35
                    p.card-text 5 offers available 
        .col-md-3
            .card
                .card-body 
                    h3.card-title Total % received
                    h4.card-subtitle.mb-2.text-body-secondary EUR 123.45 - 78%
                    p.card-text 12/15 offers completed 
    


    .row.mb-3.mt-3
        .col.d-flex.justify-content-between.align-items-center
            .btn-group(role="group" aria-label="Filtering buttons")
                btn.btn.btn-secondary.m-1(type="button") Available 
                btn.btn.btn-secondary.m-1(type="button") Uploaded 
                btn.btn.btn-secondary.m-1(type="button") Pending 
                btn.btn.btn-secondary.m-1(type="button") Confirmed 
                btn.btn.btn-secondary.m-1(type="button") Received 
            
        .col-4
        .col
            btn.btn.btn-secondary.m-2.text-right(type="button") + Add new offer

    .row.m-2 
        .card.mb-6.text-bg.w-100.h-100
            .row.g-0
                .col-md-4
                    img.img-fluid.rounded-start(src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp" alt="Trendy Pants and Shoes" style="height: 350px;")
                .col-md-8   
                    .card-body
                        h5.card-title Kinder Pengui 
                        p.card-text 1.45 EUR 
                        p.card-text REWE
                        p.card-text 22.10.2025-31.10.2025
                        p.card-text Gekauft am: 22.10.2025
                        p.card-text Mit Aktionssticker
                        p.card-text Referenznummer
                        p.card-text dsffds

    .row.m-2
        .card.mb-6.text-bg.w-100.h-100
            .row.g-0
                .col-md-4
                    img.img-fluid.rounded-start(src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp" alt="Trendy Pants and Shoes" style="height: 350px;")
                .col-md-8   
                    .card-body
                        h5.card-title Kinder Pengui 
                        p.card-text 1.45 EUR 
                        p.card-text REWE
                        p.card-text 22.10.2025-31.10.2025
                        p.card-text Gekauft am: 22.10.2025
                        p.card-text Mit Aktionssticker
                        p.card-text Referenznummer
                        p.card-text dsffds


//-  https://mdbootstrap.com/docs/standard/extended/horizontal-cards/