extends ./layouts/main.pug

block content
    div.jumbotron.jumbotron-fluid.p-2.text-center
        div.container.p-5
            h1.display-4 Cashback Tracker
            p.lead Track and manage your cashback offers in one place