extends ./layouts/main

block content
    div.p-2.text-center
        div.container.p-5
            h1.display-4 Cashback Tracker
            p.lead Track and manage your cashback offers in one place

            div.btn.group(role="group" aria-label="Login and register") 
                a.btn.btn-primary.btn-lg.m-2(href="/login" role="button") Login
                a.btn.btn-primary.btn-lg.m-2(href="/register" role="button") Register
        
                
        